@tailwind base;
@tailwind components;
@tailwind utilities;
article {
    display:flex;
}

.main {
    display:frex;
}

.image-wrap img {
    height: 300px;
}

.side {
    width:200px;
    margin: 0 0 0 auto;
}

.box {
  border:solid;
}


.commentArea {
    border:solid;
}

/*mypage*/

.profile_name{
    font-size: 40px;
    margin: 10px;
}
